@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.loginBackground {
  background-image: url("../../public/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backToTopImg {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: auto;
}

.cursorPointer {
  cursor: pointer;
}

/* Extra kleine Geräte (xs) - Smartphones (Portrait) */
@media (max-width: 575.98px) {
  .styleLogin {
    width: 75%
  }

  .styleProductCard {
    width: 100%;
  }
}

/* Kleine Geräte (sm) - Smartphones (Landscape) und Tablets (Portrait) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .styleLogin {
    width: 60%
  }
}

/* Mittlere Geräte (md) - Tablets (Landscape) und Desktops (Portrait) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .styleLogin {
    width: 50%
  }
}

/* Große Geräte (lg) - Desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .styleLogin {
    width: 40%
  }
}

/* Extra große Geräte (xl) - Große Desktops */
@media (min-width: 1200px) {
  .styleLogin {
    width: 30%
  }
}